services:
  dashboard_backend:
    build:
      context: ./chronos2/dashboard_backend
    container_name: dashboard_backend
    env_file:
      - .env
    entrypoint: ["sh", "-c", "poetry run alembic upgrade head"]
    restart: always
    depends_on:
      - postgres
    networks:
      - traefik-public

  dashboard_frontend:
    build:
      context: ./chronos2/dashboard_frontend
    container_name: dashboard_frontend
    depends_on:
      - dashboard_backend
    networks:
      - traefik-public

  postgres:
    image: postgres:15
    container_name: postgres
    env_file: ".env"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s  # Added missing timeout value
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - traefik-public

volumes:
  postgres_data:
  traefik-public-certificates:

networks:
  traefik-public:
