.user-settings {
    background-color: #1a1a1a;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: 2px solid #6c7a96;
    padding: 1.5rem 1rem;
    width: 100%;
}
.user-settings .d-flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center
}
.section-title {
  margin-bottom: 25px; 
  font-size: 1.8rem; 
  color: #ffffff; 
  font-weight: bold; 
}

.settings-group {
    margin-bottom: 1.5rem;
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

.settings-group label {
    display: block;
    font-size: 1.2rem;
    color: #f0f0f0;
    margin: auto;
    margin-bottom: 0.75rem;
}

.settings-group input {
    width: 90%;
    padding: 0.75rem;
    font-size: 1.1rem;
    border: 1px solid #6c7a96;
    border-radius: 8px;
    background-color: #2b2b33;
    color: #ffffff;
    margin: auto;
    padding-left: 15px;
}

.settings-group input[readonly] {
    background-color: #a8a8a8;
    cursor: not-allowed;
    border: 1px solid #9b9b9b;
}

.update-btn {
    background-color: #21c8af;
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1.5rem;
}

.update-btn:hover {
    background-color: #1e9d8c;
}
